<!DOCTYPE html>
<html lang="en">

<head>
    <title>SolMoon | Elevate Your Crypto Journey with Power-Packed Bots on Solana!</title>
    <link rel="icon" href="../static/favicon.ico">
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@700&display=swap" rel="stylesheet" />
</head>

<body>
    <nav class="navbar navbar-expand-lg navBg sticky-top">
        <div class="container">
            <a class="navbar-brand fs-2 fw-bold text-light kanit-bold" href="#">
                <img src="../static/Images/logo-lg.png" style="height: 60px; width: 60px" alt="" srcset="" />
                Sol<span class="gradient-text">Moon</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="text-light"><i class="bi bi-list"></i></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="container">

                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 w-100 d-flex justify-content-end text-center">
                        <li class="nav-item">
                            <a class="nav-link custom-link" aria-current="page" href="#home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link custom-link" href="https://t.me/smscannerbot" target="_blank">Hunter
                                Bot</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link custom-link" href="#Bots">Ecosystem</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link custom-link" href="#Tokenomics">Tokenomics</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link custom-link" href="#roadmap">Roadmap</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link custom-link"
                                href="../static/Images/solmoon-whitepaper.pdf">Whitepaper</a>
                        </li>
                    </ul>
                </div>
                <div class="text-center">
                    <a href="https://jup.ag/swap/SOL-SMOON_AphS2kReZsxCHjUtsuwrBwwJDptCAAQWDmoQFgrd6pkD"
                        target="_blank">
                        <button class="btn btn-outline-success text-light border-white" style="white-space: nowrap"
                            type="button">
                            Buy $SMOON
                        </button>
                    </a>

                </div>
            </div>
        </div>
    </nav>
    <main>
        <section class="main-section" id="home">
            <div class="container pt-5 pb-5" data-aos="zoom-in">
                <div class="row justify-content-center">
                    <div class="col-md-8 text-center">
                        <a href="/" class="btn pill-head-button border-2 px-3 rounded-pill row">
                            <span class="smaller-text">Looking To Be Involved In The Community? Join Our
                                Telegram</span>
                            <span class=" bg-secondary text-gray-400 rounded-circle">
                                <i class="bi bi-chevron-right"></i>
                            </span>
                        </a>
                    </div>
                    <div class="col-md-10 col-12 mt-4 text-center px-3 px-md-0">
                        <h1 class="font-weight-bold kanit-bold">
                            Welcome To
                            <span class="gradient-text main-bg-color"> $SMOON</span>
                        </h1>
                    </div>
                    <div class="col-md-8 mt-4 text-center">
                        <p class="fs-5">
                            Elevate Your Crypto Journey with Power-Packed Bots on Solana!
                            The newest and best way to get alpha signals, hunt down new
                            launches, and quickly trade / track earnings.
                        </p>
                    </div>
                    <div class="col-md-8 mt-4 text-center">
                        <div class="d-flex justify-content-center p-8">
                            <a href="https://jup.ag/swap/SOL-SMOON_AphS2kReZsxCHjUtsuwrBwwJDptCAAQWDmoQFgrd6pkD"
                                target="_blank" class="btn main-bg-background rounded-2 fw-bold fs-5 px-4 py-2">
                                Buy $SMOON
                                <i class="bi bi-chevron-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-8 mt-5 text-center">
                        <div class="d-flex justify-content-center align-items-center link-header">
                            <a href="#features" class="fw-bold me-3">Learn More
                                <i class="bi bi-chevron-right"></i>
                            </a>
                            <svg class="me-3" width="16" height="16" viewBox="0 0 16 16" fill="none"
                                xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                <path d="M6 13L10 3" stroke="#333333" stroke-linecap="round"></path>
                            </svg>
                            <a href="https://t.me/SolMoonVerify" target="_blank" class="fw-bold">Telegram Group
                                <i class="bi bi-chevron-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="customBg pb-5 pt-5" id="videoSec">
            <div class="mx-auto text-center py-3">
                <div style="
              padding: 36% 0 0 0;
              position: relative;
              background-color: black;
            " class="background-transparent" data-aos="fade-up">
                    <iframe src="https://player.vimeo.com/video/903699811?h=30df4d508f&title=0&byline=0&portrait=0"
                        frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen
                        class="rounded-2"></iframe>
                </div>
                <script src="https://player.vimeo.com/api/player.js"></script>

            </div>
        </section>
        <!-- features -->

        <!-- Bots -->
        <section class="Bots gradiant-color" id="Bots" data-aos="fade-up">
            <div class="container">
                <div class="text-center fs-1 fw-bold text-light kanit-bold" data-aos="fade-up">
                    The Sol<span class="main-bg-color">Moon</span>
                    Ecosystem
                </div>
                <div class="mt-3" data-aos="fade-up">
                    <div class="row mb-5">
                        <div class="col-md-3 col-12"></div>
                        <div class="col-md-6 col-12 text-light fw-bold text-center">
                            Dive into a suite of sophisticated bots designed to optimize
                            your trading experience on the Solana blockchain. From early
                            token detection to rapid trade execution, SolMoon Bots offer the
                            tools you need to stay ahead in the dynamic world of
                            cryptocurrency.
                        </div>
                        <div class="col-md-3 col-12"></div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <!-- Card 1 -->
                        <div class="col-12 col-lg-4 d-flex justify-content-center">
                            <div class="card bot-cards text-light px-3 text-center">
                                <div class="card-body">
                                    <h5 class="card-title text-center kanit-bold">SM Hunter Bot</h5>
                                    <p class="card-text">The SolMoon Hunter Bot is a tool that actively monitors and
                                        reports on
                                        new project deployments on the Solana blockchain. It keeps users informed about
                                        the
                                        latest developments and investment opportunities. Key features include real-time
                                        tracking, project insights, investment opportunity alerts, and a user-friendly
                                        interface
                                        integrated with Telegram for easy access and updates.</p>
                                    <a href="https://t.me/smscannerbot" target="_blank"
                                        class="btn  w-100 text-light btn-outline-success border-white">Try
                                        Now</a>
                                </div>
                            </div>
                        </div>

                        <!-- Card 2 -->
                        <div class="col-12 col-lg-4 d-flex justify-content-center">
                            <div class="card bot-cards text-light px-3 text-center">
                                <div class="card-body">
                                    <h5 class="card-title text-center kanit-bold">SM Quicktrade</h5>
                                    <p class="card-text">SolMoon Quick Trade, a leading decentralized exchange (DEX),
                                        offers rapid, reliable trading services. Integrating with top DEXs, it provides
                                        seamless cryptocurrency exchanges and superior liquidity. Focused on user
                                        experience, it boasts an intuitive interface, ensuring secure, efficient trading
                                        in the decentralized ecosystem, ideal for both novice and experienced traders.
                                    </p>
                                    <a href="#"
                                        class="btn  w-100 text-light btn-outline-success border-white disabled">Under
                                        Development</a>
                                </div>
                            </div>
                        </div>

                        <!-- Card 3 -->
                        <div class="col-12 col-lg-4 d-flex justify-content-center">
                            <div class="card bot-cards text-light px-3 text-center">
                                <div class="card-body">
                                    <h5 class="card-title text-center kanit-bold">SM Wallet Scanner</h5>
                                    <p class="card-text">The SolMoon Wallet Scanner allows users to
                                        monitor
                                        various cryptocurrency wallets, tracking trading activities of individuals they
                                        follow.
                                        It provides real-time updates, helps identify trading patterns, and spot
                                        investment
                                        opportunities. The user-friendly tool is accessible to both novice and
                                        experienced
                                        crypto enthusiasts, facilitating informed decision-making.</p>
                                    <a href="#"
                                        class="btn  w-100 text-light btn-outline-success border-white disabled">Under
                                        Development</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- Tokenomics -->
        <section class="Tok py-5" id="Tokenomics">
            <div class="container">
                <div class="text-center fs-1 fw-bold text-light" data-aos="fade-up">
                    <span class="main-bg-color kanit-bold">Tokenomics</span>
                </div>
                <div class="mt-3" data-aos="fade-up">
                    <div class="row">
                        <div class="col-md-3 col-12"></div>
                        <div class="col-md-6 col-12 text-light fw-bold fs-6 text-center">
                            Our Tokenomics are designed to benefit holders. We believe in
                            fairness and transparency.
                        </div>
                        <div class="col-md-3 col-12"></div>
                    </div>
                </div>
                <div class="mt-4 px-4 px-md-0">
                    <div class="row">
                        <div
                            class="col-md-3 col-12 d-flex justify-content-center align-items-center flex-column text-light Tok-cards">
                            <div class="fs-2 fw-bold">1 Billion</div>
                            <div class="fs-6 fw-bold">Total Supply</div>
                        </div>
                        <div
                            class="col-md-3 col-12 d-flex justify-content-center align-items-center flex-column text-light Tok-cards">
                            <div class="fs-2 fw-bold">10%</div>
                            <div class="fs-6 fw-bold">LP</div>
                        </div>
                        <div
                            class="col-md-3 col-12 d-flex justify-content-center align-items-center flex-column text-light Tok-cards">
                            <div class="fs-2 fw-bold">33%</div>
                            <div class="fs-6 fw-bold">Presale</div>
                        </div>
                        <div
                            class="col-md-3 col-12 d-flex justify-content-center align-items-center flex-column text-light Tok-cards">
                            <div class="fs-2 fw-bold">7%</div>
                            <div class="fs-6 fw-bold">Development</div>
                        </div>
                    </div>
                    <div class="row">
                        <div
                            class="col-md-3 col-12 d-flex justify-content-center align-items-center flex-column text-light Tok-cards-L2">
                            <div class="fs-2 fw-bold">10%</div>
                            <div class="fs-6 fw-bold">CEX</div>
                        </div>
                        <div
                            class="col-md-3 col-12 d-flex justify-content-center align-items-center flex-column text-light Tok-cards-L2">
                            <div class="fs-2 fw-bold">10%</div>
                            <div class="fs-6 fw-bold">Team</div>
                        </div>
                        <div
                            class="col-md-3 col-12 d-flex justify-content-center align-items-center flex-column text-light Tok-cards-L2">
                            <div class="fs-2 fw-bold">10%</div>
                            <div class="fs-6 fw-bold">Partnerships</div>
                        </div>
                        <div
                            class="col-md-3 col-12 d-flex justify-content-center align-items-center flex-column text-light Tok-cards-L2">
                            <div class="fs-2 fw-bold">20%</div>
                            <div class="fs-6 fw-bold">Burn</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Buy -->
        <section class="buy py-5" id="buy">
            <div class="container">
                <div class="text-center fs-1 fw-bold text-light" data-aos="fade-up">
                    <div>
                        <img src="../static/Images/logo-lg.png" alt="" />
                    </div>
                    <div class="fs-4 mt-3 kanit-bold">How To Buy</div>
                    <div class="fs-1">
                        Sol<span class="main-bg-color kanit-bold">Moon</span>
                        Pro
                    </div>
                </div>
                <div class="mt-3" data-aos="fade-up">
                    <div class="row">
                        <div class="col-md-3 col-12"></div>
                        <div class="col-md-6 col-12 px-4 px-md-0 text-light fw-bold fs-5 text-center py-3">
                            <button
                                class="btn text-light fw-bold d-flex justify-content-between fs-5 w-100 border-bottom rounded-0"
                                type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
                                aria-expanded="false" aria-controls="collapseExample" onclick="collapse('one')">
                                <div>Get a Solana Wallet</div>
                                <div id="one">+</div>
                            </button>
                            <div class="collapse" id="collapseExample">
                                <div class="card card-body fs-6 custom-collapse text-start">
                                    Setup a wallet, which you will use to hold your $SMOON, there are many different
                                    wallets to choose from, like Sollet.io, Solflare.com, and Phantom.app. We recommend
                                    Phantom.app, as it is the most user-friendly and secure wallet available..
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-12"></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-3 col-12"></div>
                        <div class="col-md-6 col-12 px-4 px-md-0 text-light fw-bold fs-5 text-center py-3">
                            <button
                                class="btn text-light fw-bold d-flex justify-content-between fs-5 w-100 border-bottom rounded-0"
                                type="button" data-bs-toggle="collapse" data-bs-target="#two" aria-expanded="false"
                                aria-controls="two" onclick="collapse('two1')">
                                <div>Fund Your Wallet If Needed</div>
                                <div id="two1">+</div>
                            </button>
                            <div class="collapse" id="two">
                                <div class="card card-body fs-6 custom-collapse text-start">
                                    Send SOL to yourself from Coinbase or any other exchange. Some platforms may also
                                    allow you to buy SOL right in the wallet app.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-12"></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-3 col-12"></div>
                        <div class="col-md-6 col-12 px-4 px-md-0 text-light fw-bold fs-5 text-center">
                            <button
                                class="btn text-light fw-bold d-flex justify-content-between fs-5 w-100 border-bottom rounded-0"
                                type="button" data-bs-toggle="collapse" data-bs-target="#three" aria-expanded="false"
                                aria-controls="three" onclick="collapse('three1')">
                                <div>Purchase $SMOON With SOL</div>
                                <div id="three1">+</div>
                            </button>
                            <div class="collapse" id="three">
                                <p class="card card-body custom-collapse text-start fs-6">
                                    <span>Purchase $SMOON on the Solana blockchain using a DEX (decentralized exchange)
                                        like
                                        <span><a href="https://www.orca.so/" target="_blank">Orca</a></span>. You can
                                        also buy $SMOON on the DEX <a href="https://jup.ag/"
                                            target="_blank">Jupiter</a>.</span>
                                    </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-12"></div>
                </div>
            </div>
            </div>
        </section>
        <!-- roadmap -->
        <div id="roadmap" class=" py-5 px-3 px-md-5" style="position: relative" data-aos="fade-up">
            <div class="container">
                <div class="row">
                    <div class=" text-center fs-1 fw-bold text-light mb-2" data-aos="fade-up">
                        <span class="main-bg-color kanit-bold">Roadmap</span>
                    </div>
                </div>
                <div class="row d-flex justify-content-center ">
                    <div class="col-md-6 col-12 text-light fw-bold fs-6 text-center mb-5">
                        Join us on our journey to the moon. We're just getting started, and we're excited to have you
                        along
                        for
                        the ride. Join our Telegram to stay up to date!.
                    </div>
                </div>
            </div>
            <!-- SVG for connecting line -->
            <svg class="mt-5 svg-line" id="lineSvg" height="71%" width="100%">
                <!-- Connecting line -->
                <line x1="50%" y1="0" x2="50%" y2="78%" class="adjusted-y2" style="stroke: #ffffff; stroke-width: 3" />
            </svg>

            <div class="d-flex flex-column mt-3 max-width-1170 mx-auto container">
                <!-- Phase 1 starts -->
                <div class="phase align-self-md-end align-self-center ms-md-5">
                    <div class="text-light text-start">
                        <div class="fw-bold text-center fs-1 main-bg-color mobile-phase">PHASE 1</div>
                        <span class="fs-5">Securing Private Investments:</span>
                        <ul>
                            <li class="fs-6">Initiate and secure private investments to fund the early stages of
                                SolMoon's development and operations.</li>
                            <li class="fs-6">Engage with potential investors who align with SolMoon's vision and values.
                            </li>
                        </ul>

                        <span class="fs-5">Website Development:</span>
                        <ul>
                            <li class="fs-6">Design and launch the official SolMoon website.</li>
                            <li class="fs-6">Ensure the website is user-friendly, informative, and captures the essence
                                of the SolMoon project.</li>
                        </ul>

                        <span class="fs-5">Community Formation:</span>
                        <ul>
                            <li class="fs-6">Establish and grow a robust online community.</li>
                            <li class="fs-6">Utilize platforms like Telegram, Twitter, and Discord to engage with early
                                adopters and enthusiasts.</li>
                            <li class="fs-6">Organize community events and AMAs to foster engagement and feedback.</li>
                        </ul>

                        <span class="fs-5">Development of Hunter Bot:</span>
                        <ul>
                            <li class="fs-6">Start the development of the Hunter Bot, an integral tool for the SolMoon
                                ecosystem.</li>
                            <li class="fs-6">Focus on designing its core functionalities to align with SolMoon's
                                strategic goals.</li>
                        </ul>

                        <span class="fs-5">Additional Initiatives:</span>
                        <ul>
                            <li class="fs-6">Develop a comprehensive marketing strategy to increase brand visibility and
                                attract a wider audience.</li>
                            <li class="fs-6">Begin drafting a detailed whitepaper to clearly outline SolMoon's
                                objectives, technology, and future plans.</li>
                            <li class="fs-6">Explore partnerships and collaborations that can add value to the SolMoon
                                ecosystem.</li>
                        </ul>

                    </div>
                    <div class="phase-indicator">
                        <div class="dot">
                            <div class="before"></div>
                            <div class="after"></div>
                        </div>
                        <span class="label" style="visibility: hidden">Phase 1</span>
                        <div class="label text-light fw-bold">Phase 1</div>
                        <div class="line"></div>
                    </div>
                </div>
                <div class="text-light text-center fs-1 fw-bold arrow-rodmap"><i class="bi bi-arrow-down"></i></div>

                <!-- Phase 1 end -->

                <!-- Phase 2 starts -->
                <div class="phase align-self-md-start align-self-center me-md-5">
                    <div class="text-light text-start">
                        <div class="fw-bold text-center fs-1 main-bg-color mobile-phase">PHASE 2</div>
                        <span class="fs-5">Launch of SolMoon Coin:</span>
                        <ul>
                            <li class="fs-6">Officially introduce SolMoon coin to the public with a focus on
                                accessibility and security for users.</li>
                            <li class="fs-6">Facilitate the initial distribution of SolMoon coin, ensuring a seamless
                                process for early adopters and investors.</li>
                        </ul>
                        <span class="fs-5">Massive Community Expansion:</span>
                        <ul>
                            <li class="fs-6">Amplify efforts to grow and engage the SolMoon community across platforms
                                like Telegram, Twitter, and Discord.</li>
                            <li class="fs-6">Implement interactive campaigns, competitions, and reward programs to
                                foster community enthusiasm and participation.</li>
                        </ul>
                        <span class="fs-5">Community AMAs and Twitter Spaces:</span>
                        <ul>
                            <li class="fs-6">Conduct regular Ask Me Anything (AMA) sessions across various community
                                platforms.</li>
                            <li class="fs-6">Host Twitter Spaces for open discussions about SolMoon's progress, plans,
                                and industry trends.</li>
                            <li class="fs-6">Utilize these events for direct communication, feedback collection, and
                                community building.</li>
                        </ul>
                        <span class="fs-5">Intensive Marketing Efforts:</span>
                        <ul>
                            <li class="fs-6">Execute an aggressive and wide-reaching marketing strategy to increase
                                SolMoon's visibility and attract a broad audience.</li>
                            <li class="fs-6">Collaborate with key influencers and crypto communities to extend SolMoon's
                                reach.</li>
                            <li class="fs-6">Deploy diverse digital marketing tactics, including targeted social media
                                campaigns, content creation, and SEO strategies.</li>
                        </ul>
                        <span class="fs-5">Strategic Partnerships and Collaborations:</span>
                        <ul>
                            <li class="fs-6">Establish partnerships with other blockchain and fintech entities.</li>
                            <li class="fs-6">Explore opportunities for collaboration that can enhance the SolMoon
                                ecosystem and offer mutual growth.</li>
                        </ul>
                        <span class="fs-5">Educational Initiatives:</span>
                        <ul>
                            <li class="fs-6">Launch initiatives focused on educating potential users about the SolMoon
                                coin and its ecosystem.</li>
                            <li class="fs-6">Develop and disseminate informative materials like guides, tutorials, and
                                explainer videos.</li>
                        </ul>
                    </div>

                    <div class="phase-indicator-l">
                        <div class="dot-l">
                            <div class="before-l"></div>
                            <div class="after-l"></div>
                        </div>
                        <span class="label-l" style="visibility: hidden">Phase 1</span>
                        <div class="label-l text-light fw-bold">Phase 2</div>
                        <div class="line-l"></div>
                    </div>
                </div>
                <!-- Phase 2 end -->
                <div class="text-light text-center fs-1 fw-bold arrow-rodmap"><i class="bi bi-arrow-down"></i></div>
                <!-- Phase 3 starts -->
                <div class="phase align-self-md-end align-self-center ms-md-5">
                    <div class="text-white text-start">
                        <div class="fw-bold text-center fs-1 main-bg-color mobile-phase">PHASE 3</div>
                        <span class="fs-5">Launch of Alpha Signal Bot and Trading Bot:</span>
                        <ul>
                            <li class="fs-6">Introduce 'Alpha Signal Bot' and 'Trading Bot', exclusively for the Solana
                                blockchain.</li>
                            <li class="fs-6">Alpha Signal Bot will focus on identifying high-potential trading signals,
                                providing actionable insights.</li>
                            <li class="fs-6">Trading Bot will cater to automating trades with advanced strategies,
                                enhancing trading efficiency on Solana.</li>
                        </ul>

                        <span class="fs-5">Extensive Marketing Campaign for New Bots:</span>
                        <ul>
                            <li class="fs-6">Initiate a large-scale marketing campaign to promote the Alpha Signal Bot
                                and Trading Bot.</li>
                            <li class="fs-6">Use a mix of digital marketing channels, influencer partnerships, and
                                community outreach to create buzz around the new bots.</li>
                            <li class="fs-6">Highlight the unique capabilities and benefits of these bots in simplifying
                                and maximizing trading opportunities on Solana.</li>
                        </ul>

                        <span class="fs-5">Community Engagement and Feedback:</span>
                        <ul>
                            <li class="fs-6">Increase community involvement with AMAs, webinars, and interactive
                                sessions focused on the new bots.</li>
                            <li class="fs-6">Collect feedback and suggestions to continuously improve the bot
                                functionalities and user experience.</li>
                            <li class="fs-6">Organize community-led initiatives, such as trading competitions or
                                strategy sharing sessions, leveraging the new bots.</li>
                        </ul>

                        <span class="fs-5">Educational Initiatives for Bot Usage:</span>
                        <ul>
                            <li class="fs-6">Roll out educational content and tutorials to assist users in understanding
                                and utilizing the Alpha Signal Bot and Trading Bot.</li>
                            <li class="fs-6">Offer a range of learning materials, from beginner guides to advanced
                                strategy discussions.</li>
                            <li class="fs-6">Ensure easy accessibility of educational resources to all segments of the
                                SolMoon community.</li>
                        </ul>

                        <span class="fs-5">Consistent Brand Building and Storytelling:</span>
                        <ul>
                            <li class="fs-6">Continue to strengthen the SolMoon brand as an innovator in the crypto and
                                blockchain space.</li>
                            <li class="fs-6">Use storytelling to convey the journey of SolMoon and the impact of the new
                                bots on trading experiences.</li>
                            <li class="fs-6">Showcase user testimonials and success stories to demonstrate real-world
                                utility and effectiveness.</li>
                        </ul>

                    </div>
                    <div class="phase-indicator">
                        <div class="dot">
                            <div class="before"></div>
                            <div class="after"></div>
                        </div>
                        <span class="label" style="visibility: hidden">Phase 1</span>
                        <div class="label text-light fw-bold">Phase 3</div>
                        <div class="line"></div>
                    </div>
                </div>
                <!-- Phase 3 end -->


            </div>
        </div>
    </main>
    <button class="btn back-to-top" onclick="scrollToTop()">
        <i class="bi bi-arrow-up"></i>
    </button>
    <footer class="py-5 ">
        <div class="container">
            <div class="container text-light row w-100">
                <div class="col-md-4 col-12 mt-3">
                    <div class="footer-links">
                        <a href="#features">Features</a>
                        <a href="#bots">The Bots</a>
                        <a href="#tokenomics">Token Economics</a>
                        <a href="#roadmap">Roadmap</a>
                        <a href="https://solmoon.xyz/pdfs/solmoon-whitepaper.pdf">Whitepaper</a>
                    </div>
                </div>
                <div class="col-md-4 col-12 mt-3">
                    <div class="footer-brand">
                        <h4>Sol<span class="main-bg-color">Moon</span></h4>
                    </div>
                    <div class="footer-links">
                        <a href="https://jup.ag/swap/SOL-SMOON_AphS2kReZsxCHjUtsuwrBwwJDptCAAQWDmoQFgrd6pkD">Buy
                            Token</a>
                        <a href="https://solscan.io/token/AphS2kReZsxCHjUtsuwrBwwJDptCAAQWDmoQFgrd6pkD">Contract</a>
                        <a href="https://t.me/SolMoonVerify">Telegram</a>
                        <a href="https://twitter.com/officialsolmoon">Twitter</a>
                    </div>
                </div>
                <div class="col-md-4 col-12 mt-3">
                    <h4>Social</h4>
                    <div class="footer-social">
                        <a href="https://twitter.com/officialsolmoon"><i class="bi bi-twitter"></i></a>
                        <a href="https://t.me/SolMoonVerify"><i class="bi bi-telegram"></i></a>
                        <a href="mailto:officialsolmoon1@gmail.com"><i class="bi bi-envelope"></i></a>
                    </div>
                    <div class="footer-join">
                        <h4>Join Our Channels</h4>
                        <a href="https://t.me/SolMoonVerify" target="_blank">SolMoon Official Telegram</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="../static/js/script.js"></script>
</body>

</html>